/*Scroll tab button*/
.tab_btn {
    font-size: 12px;
    line-height: 14px;
    color: #081E2E;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    background: #F7FBFF;
    border: 1px solid #ECF2F7;
    cursor: pointer;
    text-decoration: none;
}

.tab_btn.active {
    background: white;
    border-color: transparent;
    border-top: 1px solid #ECF2F7;
}

.tab_btn .icon {
    display: none;
    margin: 0 0 0 6px;
}

.tab_btn.active .icon {
    display: block;
}

/*Scroll menu*/

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab {
    cursor: pointer;
}


.tab-content {
    width: 100%;
/*    height: 100%;*/
}

.active.tab .tab_btn {
    background: white;
    border-color: transparent;
}

.active.tab .tab_btn .icon {
    display: block;
}

.tabs__button--next {
    right: 0;
    left: auto;
}

.wrapper .blue_btn {
    margin: 0;
}

.tabs__links {
    display: flex;
    align-items: stretch;
    position: relative;
}

.tabs__links:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tabs__links-item.is-visible {
    display: flex;
}

.tabs__contents-item {
    display: none;
    width: 100%;
    height: 100%;
}

.tabs__contents-item.active {
    display: block;
}

.tabs__button--prev img {
    transform: rotate(-180deg);
}

.tabs .smal_btn {
    min-width: 32px;
}

.tabs__links {
    /*    max-width: 1235px;*/
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
