/*table*/
.table_box {
    width: 100%;
    overflow-y: scroll;
}

.table {
    width: 100%;
    /*    max-width: 1300px;*/
    text-align: left;
    border-collapse: collapse;
}

.table th {
    padding: 13px 8px;
    border-bottom: 1px solid #ECF2F7;
    text-align: left;
}

.table td {
    padding: 13px 8px;
    font-size: 14px;
    line-height: 14px;
    color: #081E2E;
}

.table_item {
    font-size: 14px;
    line-height: 14px;
    color: #76828A;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table tbody tr {
    border-bottom: 1px solid #ECF2F7;
    cursor: pointer;
}

.table tbody tr:hover {
    background: #F7FBFF;
}

.table tr td:first-of-type {
    border-left: 2px solid white;
}

.error,
.table tbody tr.error:hover {
    background-color: #FFF5F5;
}

.table .error td:first-of-type {
    border-color: #F42121;
}

.check_row {
    background-color: #F7FBFF;
}

.table .check_row td:first-of-type {
    border-color: white;
}

.table tr {
    position: relative;
}

.table td {
    position: relative;
}

.table .pop_up_table {
    display: none;
    position: absolute;
    left: 0;
    width: 187px;
    height: 210px;
    background: #FFFFFF;
    /* Other colors / Stroke */
    border: 1px solid #ECF2F7;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    z-index: 10;
    top: 100%;
    padding: 16px 0 12px;
}

tr.show .pop_up_table {
    display: flex;
}

.pop_up_table .popUp_menu {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pop_up_table .popUp_menu li {
    width: 100%;
}

.pop_up_table .popUp_menu a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #081E2E;
    text-decoration: none;
    cursor: pointer;
    padding: 11px 26px 11px 48px;
    position: relative;
}

.pop_up_table .popUp_menu li:nth-child(2) a {
    color: #76858F;
}

.pop_up_table .popUp_menu a img {
    margin: 0 8px 0 0;
    position: absolute;
    left: 26px;
    opacity: 0;
}

.pop_up_table .popUp_menu a img:first-of-type {
    opacity: 1;
}

.pop_up_table .popUp_menu a:hover img:first-of-type {
    opacity: 0;
}

.pop_up_table .popUp_menu a:hover img:last-of-type {
    opacity: 1;
}

.pop_up_table .popUp_menu li:last-of-type {
    border-top: 1px solid #ECF2F7;
    padding: 8px 0 0px;
}

.pop_up_table .popUp_menu a:hover {
    color: #53A5E0;
}
.pop_up_table .popUp_menu li:nth-child(2) a:hover {
   color: #53A5E0;
}


@media all and (max-width:1439px) {

    .table_item,
    .table td {
        font-size: 12px;
    }
}

@media all and (max-width:1300px) {

    .table th,
    .table td {
        padding: 14px 4px;
    }

}

@media all and (max-width:1200px) {

    .table_item,
    .table td {
        font-size: 10px;
        line-height: 12px;
    }

    .table {
        min-width: 1040px;
    }
}
